{% load static %}
{% load sider_bar %}

<div class="col-md-3"> 
           
   <!-- SEARCH -->
   <div class="search">
     <input class="form-control" type="search" placeholder="Search blog">
     <button type="submit"><i class="fa fa-search"></i></button>
   </div>
   <div class="shop-sidebar"> 
     
     <!-- Category -->
     <h5 class="shop-tittle margin-bottom-30">category</h5>
     <ul class="shop-cate">
       <li><a href="#."> Chair <span></span></a></li>
     </ul>
     
     <!-- Recent Post -->
     <h5 class="shop-tittle margin-top-60 margin-bottom-30">recent post</h5>
     <ul class="papu-post margin-top-20">
       <li class="media">
         <div class="media-left"> <a href="#"> <img class="media-object" src="images/sm-post-1.jpg" alt=""></a> </div>
         <div class="media-body"> <a class="media-heading" href="#.">Nullam volutpat dui at 
           a consequat enimiquet</a> <span>Posted on Sep 27</span> </div>
       </li>
     </ul>
     
     <!-- TAGS -->
     <h5 class="shop-tittle margin-top-60 margin-bottom-30">PAUPLAR TAGS</h5>
     <ul class="shop-tags">
       <li><a href="#.">Towels</a></li>
     </ul>
     
     <!-- BRAND -->
     <h5 class="shop-tittle margin-top-60 margin-bottom-30">archives</h5>
     <ul class="shop-cate">
       <li><a href="#."> January 2015 </a></li>
     </ul>
     
     <!-- SIDE BACR BANER -->
     <div class="side-bnr margin-top-50"> <img class="img-responsive" src="images/sidebar-bnr.jpg" alt="">
       <div class="position-center-center"> <span class="price"><small>$</small>299</span>
         <div class="bnr-text">look
           hot
           with
           style</div>
       </div>
     </div>
   </div>
 </div>