{% extends 'core/base.html' %}
{% load static %}
{% load i18n %}

{% block content %}


  <!--======= SUB BANNER =========-->
  <section class="sub-bnr" data-stellar-background-ratio="0.5">
   <div class="position-center-center">
     <div class="container">
        <img src="">
     </div>
   </div>
 </section>
 
 <!-- Content -->
 <div id="content"> 
   
   <!-- Blog List -->
   <section class="blog-list blog-list-3 single-post padding-top-100 padding-bottom-100">
     <div class="container">
       <div class="row">
         <div class="col-md-9"> 
           
           <!-- Article -->
           <article>
             <!-- Post Img --> 
             <img class="img-responsive" src="{{ post.preview.url }}" alt="" > 
             <!-- Tittle --> 
             <div class="post-tittle left"> <a href="#." class="tittle">{{ post.title }}</a>  
               <!-- Post Info -->   
               <span><i class="primary-color icon-user"></i> {{ post.author.get_full_name }}</span>  
               <span><i class="primary-color icon-calendar"></i> {{ post.created_at|date:'m d, Y' }}</span> 
               <span><i class="primary-color icon-bubble"></i> {{ post.get_reviewcount }} </span> 
               <span><i class="primary-color icon-tag"></i>{% for t in post.tag.all %}{{ t.title }}{% endfor %}</span>
             </div>
             <!-- Post Content -->
             

             
             <div class="text-left">
               
                 <h6 class="margin-top-80 margin-bottom-30"></h6>
                <p>{{ post.text }}</p>
               <!-- Tags -->
               <div class="row margin-top-50">
                 <div class="col-md-8">
                   <h5 class="shop-tittle">PRODUCT TAGS</h5>
                   <ul class="shop-tags padding-left-15">
                    {% for tag in post.tags %}
                     <li><a href="#.">{{ tag.title }}</a></li>
                    {% endfor %}
                   </ul>
                 </div>
                 
                 <!-- Share With -->
                 <div class="col-md-4">
                   <h5 class="shop-tittle">share with</h5>
                   <ul class="share-post">
                     <li><a href="#."><i class="icon-social-facebook"></i> Facebook</a></li>
                     <li><a href="#."><i class="icon-social-twitter"></i> twitter</a></li>
                   </ul>
                 </div>
               </div>
               
               <!-- ADMIN info -->
               <div class="admin-info">
                 <div class="media-left">
                   <div class="admin-pic"> <img src="images/admin-avatar.jpg" alt=""> </div>
                 </div>
                 <div class="media-body">
                   <h6>NATASHA S. <span>Co-Founder</span></h6>
                   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. NullamMorbi ac scelerisque mauris. Etiam sodales a nulla ornare viverra. Nunc at blandit neque, bociis natoque penatcing e scelerisque miscing elit. </p>
                   <div class="admin-social"> <a href="#."><i class="icon-social-facebook"></i></a> <a href="#."><i class="icon-social-twitter"></i></a> <a href="#."><i class="icon-social-dribbble"></i></a> <a href="#."><i class="icon-envelope"></i></a> </div>
                 </div>
               </div>
               
               <!--=======  COMMENTS =========-->
               <div class="comments margin-top-80">
                 <h5 class="shop-tittle margin-bottom-30">COMMENTS</h5>
                 <ul class="media-list padding-left-15">
                   <!--=======  COMMENTS =========-->
                   {% for review in post.get_review %}
                   <li class="media">
                     <div class="media-left"> <a href="#" class="avatar"> <img class="media-object img-responsive" src="{{ review.user.avatar }}" alt=""> <br>
                       </a> </div>
                     <div class="media-body">
                       <h6 class="media-heading">{{ review.user.get_full_name}} <span><i class="icon-clock primary-color"></i> {{ review.created_at }}</span></h6>
                       <p>{{ review.text }}</p>
                   </li>
                   {% endfor %}
                 </ul>
                 <hr>
                 
                 <!--=======  LEAVE COMMENTS =========-->
                 <h5 class="shop-tittle margin-top-80">POST YOUR COMMENTS</h5>
                 <form class="padding-left-15">
                  {% csrf_token %}
                   <ul class="row">
                     <li class="col-sm-12">
                       <label>COMMENTS
                         <textarea class="form-control" placeholder=""></textarea>
                       </label>
                     </li>
                     <li class="col-sm-12">
                       <button type="submit" class="btn margin-top-30">Submit Comment </button>
                     </li>
                   </ul>
                 </form>
               </div>
             </div>
           </article>
           <hr>
           
           <!--  You May Like -->
           <h5 class="shop-tittle margin-top-50 margin-bottom-50">you may like </h5>
           <div class="alos-like padding-left-15"> 
             <!-- Article -->
             {% for apost in youmakelike %}
             <article>
               <div class="row">
                 <div class="col-sm-5"> 
                   <!-- Post Img --> 
                   <img class="img-responsive" src="{{ apost.preview.url }}" alt="" > </div>
                 <div class="col-sm-7"> 
                   <!-- Tittle -->
                   <div class="post-tittle left"> <a href="#." class="tittle">{{ apost.title }}</a> 
                     <!-- Post Info --> 
                     <span><i class="primary-color icon-user"></i>{{ apost.author.get_full_name }}</span> <span><i class="primary-color icon-calendar"></i>{{ apost.created_at }}</span> <span><i class="primary-color icon-bubble"></i> {{ apost.get_reviewcount }}</span> <span><i class="primary-color icon-tag"></i>{%for tag in apost.tag.all %} {{ tag.title }}{% endfor %}</span> </div>
                   <!-- Post Content -->
                   <div class="text-left">
                     <p>{{ apost.text | truncatechars:130 }}</p>
                     <a href="{% url 'blog:post' apost.slug %}" class="red-more">READ MORE</a> </div>
                 </div>
               </div>
             </article>
             {% endfor %}
           </div>
         </div>
         
         <!-- Sider Bar -->
         {% include '../partials/sider_bar.html' %}
       </div>
     </div>
   </section>
   
   <!-- Culture BLOCK -->
   <section class="cultur-block">
     <ul>
      {% for img in culturimages %}
       <li><a href="{% url 'blog:post' img.slug %}" class="cultur"><img src="{{ img.preview }}" alt="" ></a> </li>
      {% endfor %}
     </ul>
     
     <!-- Culture Text -->
     <!-- <div class="position-center-center">
       <div class="container">
         <div class="col-sm-6 center-block">
           <h4>FOLLOW US @ INSTAGRAM</h4>
           <p>Phasellus lacinia fermentutm bibendum. Interdum et malante ipuctus non. Nulla lacinia,
             eros vel fermentum consectetur, ris dolor in ex. </p>
         </div>
       </div>
     </div> -->
   </section>

{% endblock %}

