{% extends 'core/base.html' %}
{% load static %}
{% load i18n %}

{% block content %}

  <!--======= SUB BANNER =========-->
  <section class="sub-bnr" data-stellar-background-ratio="0.5">
   <div class="position-center-center">
     <div class="container">
       <h4></h4>
       <p></p>
       <ol class="breadcrumb">
         <li><a href="#"></a></li>
         <li class="active"></li>
       </ol>
     </div>
   </div>
 </section>
 
 <!-- Content -->
 <div id="content"> 
   
   <!-- Blog List -->
   <section class="blog-list blog-list-3 padding-top-100 padding-bottom-100">
     <div class="container">
       <div class="row">
         <div class="col-md-9"> 
           
           <!-- Article -->
           <article>
             <div class="row">
               <div class="col-sm-5"> 
                 <!-- Post Img --> 
                 <img class="img-responsive" src="{% static 'images/blog-list-img-1-2.jpg' %}" alt="" > </div>
               <div class="col-sm-7"> 
                 <!-- Tittle -->
                 <div class="post-tittle left"> <a href="#." class="tittle">The unique Chair By PAVSHOP</a> 
                   <!-- Post Info --> 
                   <span><i class="primary-color icon-user"></i> by admin</span> <span><i class="primary-color icon-calendar"></i> April 27, 2016</span> <span><i class="primary-color icon-bubble"></i> 05</span> <span><i class="primary-color icon-tag"></i> Furniture</span> </div>
                 <!-- Post Content -->
                 <div class="text-left">
                   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam volutpat dui at lacus aliquet, a consequat enim aliquet. Integer molestie sit amet sem et faucibus. Nunc ornare pharetra dui, vitae auctor orci fringilla eget. Pellentesque in placerat felis. Etiam mollis venenatis luctus.  
                     
                     Nunc at blandit neque, bibendum varius purus.</p>
                   <a href="#." class="red-more">READ MORE</a> </div>
               </div>
             </div>
           </article>
           
           <!-- Pagination -->
           <ul class="pagination in-center">
             <li><a href="#"><i class="fa fa-angle-left"></i></a></li>
             <li class="active"><a href="#">1</a></li>
             <li><a href="#">2</a></li>
             <li><a href="#">3</a></li>
             <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
           </ul>
         </div>
         
         <!-- Sider Bar -->
         {% include '../partials/sider_bar.html' %}
       </div>
     </div>
   </section>
   
   <!-- Culture BLOCK -->
   <section class="cultur-block">
     <ul>
       <li> <img src="{% static 'images/cultur-img-1.jpg' %}" alt="" > </li>
       <li> <img src="{% static 'images/cultur-img-2.jpg' %}" alt="" > </li>
       <li> <img src="{% static 'images/cultur-img-3.jpg' %}" alt="" > </li>
       <li> <img src="{% static 'images/cultur-img-4.jpg' %}" alt="" > </li>
     </ul>
     
     <!-- Culture Text -->
     <div class="position-center-center">
       <div class="container">
         <div class="col-sm-6 center-block">
           <h4>FOLLOW US @ INSTAGRAM</h4>
           <p>Phasellus lacinia fermentutm bibendum. Interdum et malante ipuctus non. Nulla lacinia,
             eros vel fermentum consectetur, ris dolor in ex. </p>
         </div>
       </div>
     </div>
   </section>


   {% endblock %}