{% extends 'core/base.html' %}
{% load static %}
{% load i18n %}

{% block content %}

  <!--======= SUB BANNER =========-->
  <section class="sub-bnr" data-stellar-background-ratio="0.5">
   <div class="position-center-center">
     <div class="container">
       <!-- <h4></h4>
       <p></p>
       <ol class="breadcrumb">
         <li><a href="#"></a></li>
         <li class="active"></li>
       </ol> -->
     </div>
   </div>
 </section>
 
 <!-- Content -->
 <div id="content"> 
   
   <!-- Blog List -->
   <section class="blog-list blog-list-3 padding-top-100 padding-bottom-100">
     <div class="container">
       <div class="row">
         <div class="col-md-9"> 
           
           <!-- Article -->
           {% for post in posts %}
           <article>
             <div class="row">
               <div class="col-sm-5"> 
                 <!-- Post Img --> 
                 <img class="img-responsive" src="{{ post.preview.url }}" alt="" > </div>
               <div class="col-sm-7"> 
                 <!-- Tittle -->
                 <div class="post-tittle left"> <a href="{% url 'blog:post' post.slug %}" class="tittle">{{ post.title }}</a> 
                   <!-- Post Info --> 
                   <span><i class="primary-color icon-user"></i> {{ post.author.get_full_name }}</span> <span><i class="primary-color icon-calendar"></i> {{ post.created_at }}</span> <span><i class="primary-color icon-bubble">{{ post.get_reviewcount }}</i> </span> <span><i class="primary-color icon-tag"></i>{% for t in post.tag.all %}{{ t.title }}{% endfor %}</span> </div>
                 <!-- Post Content -->
                 <div class="text-left">
                   <p>{{ post.text | truncatechars:260 }}</p>
                   <a href="{% url 'blog:post' post.slug %}" class="red-more">READ MORE</a> </div>
               </div>
             </div>
           </article>
           {% endfor %}
           
          <!-- Pagination -->
          {% if page_obj.has_other_page %}
          <ul class="pagination in-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_number }}"><i class="fa fa-angle-left"></i></a></li>
            {% endif %}
            {% for pag in paginator.page_range %}
              {% if page_obj.number == pag %}
                <li class="active">{{ pag }}</li>
              {% elif pag >= page_obj.number|add:-2 and pag <= page_obj.number|add:2 %}
            <li><a href="?page={{ pag }}">{{ pag }}</a></li>
            {% endif %}
            {% endfor %}
            {% if page.obj.has_next %}
            <li><a href="?page={{ page_obj.next_number }}"><i class="fa fa-angle-right"></i></a></li>
            {% endif %}
          </ul>
          {% endif %}
         </div>
         
         <!-- Sider Bar -->
         {% include '../partials/sider_bar.html' %}
       </div>
     </div>
   </section>
   
   <!-- Culture BLOCK -->
   <section class="cultur-block">
     <ul>
       <li> <img src="{% static 'images/cultur-img-1.jpg' %}" alt="" > </li>
       <li> <img src="{% static 'images/cultur-img-2.jpg' %}" alt="" > </li>
       <li> <img src="{% static 'images/cultur-img-3.jpg' %}" alt="" > </li>
       <li> <img src="{% static 'images/cultur-img-4.jpg' %}" alt="" > </li>
     </ul>
     
     <!-- Culture Text -->
     <div class="position-center-center">
       <div class="container">
         <div class="col-sm-6 center-block">
           <h4>FOLLOW US @ INSTAGRAM</h4>
           <p>Phasellus lacinia fermentutm bibendum. Interdum et malante ipuctus non. Nulla lacinia,
             eros vel fermentum consectetur, ris dolor in ex. </p>
         </div>
       </div>
     </div>
   </section>


   {% endblock %}