{% extends 'core/base.html' %}
{% load static %}

{% block content %}


 <!--======= HOME MAIN SLIDER =========-->
 <section class="home-slider"> 
  
  <!-- SLIDE Start -->
  <div class="tp-banner-container">
    <div class="tp-banner">
      <ul>
        {% for prod in discount_prod %}
        <!-- SLIDE  -->
        <li data-transition="random" data-slotamount="7" data-masterspeed="300"  data-saveperformance="off" > 
          <!-- MAIN IMAGE --> 
          <img src="{{prod.get_main_img}}"  alt="slider"  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat"> 
          <!-- LAYERS --> 
          <!-- LAYER NR. 1 -->
          <div class="tp-caption font-playfair sfb tp-resizeme" 
              data-x="left" data-hoffset="0" 
              data-y="center" data-voffset="-200" 
              data-speed="800" 
              data-start="500" 
              data-easing="Power3.easeInOut" 
              data-splitin="none" 
              data-splitout="none" 
              data-elementdelay="0.1" 
              data-endelementdelay="0.1" 
              data-endspeed="300" 
              style="z-index: 7; font-size:18px; color:#fff; max-width: auto; max-height: auto; white-space: nowrap;">The Latest Product from PAVSHOP</div>
          <!-- LAYER NR. 2 -->
          <div class="tp-caption sfl font-extra-bold tp-resizeme" 
              data-x="left" data-hoffset="0" 
              data-y="center" data-voffset="-120" 
              data-speed="800" 
              data-start="800" 
              data-easing="Power3.easeInOut" 
              data-splitin="none" 
              data-splitout="none" 
              data-elementdelay="0.07" 
              data-endelementdelay="0.1" 
              data-endspeed="300" 
              style="z-index: 6; font-size:80px; color:#2d3a4b; text-transform:uppercase; white-space: nowrap;"><small class="font-regular">$</small>{{prod.price}} </div>
          <!-- LAYER NR. 2 -->
          <div class="tp-caption sfr font-extra-bold tp-resizeme" 
              data-x="left" data-hoffset="0" 
              data-y="center" data-voffset="0" 
              data-speed="800" 
              data-start="800" 
              data-easing="Power3.easeInOut" 
              data-splitin="chars" 
              data-splitout="none" 
              data-elementdelay="0.07" 
              data-endelementdelay="0.1" 
              data-endspeed="300" 
              style="z-index: 6; font-size:120px; color:#fff; text-transform:uppercase; white-space: nowrap;">featured </div>
          <!-- LAYER NR. 2 -->
          <div class="tp-caption sfr font-extra-bold tp-resizeme" 
              data-x="left" data-hoffset="0" 
              data-y="center" data-voffset="110" 
              data-speed="800" 
              data-start="1300" 
              data-easing="Power3.easeInOut" 
              data-splitin="chars" 
              data-splitout="none" 
              data-elementdelay="0.07" 
              data-endelementdelay="0.1" 
              data-endspeed="300" 
              style="z-index: 6; font-size:120px; color:#fff; text-transform:uppercase; white-space: nowrap;">cycle </div>
          <!-- LAYER NR. 4 -->
          <div class="tp-caption lfb tp-resizeme" 
              data-x="left" data-hoffset="0" 
              data-y="center" data-voffset="240" 
              data-speed="800" 
              data-start="2200" 
              data-easing="Power3.easeInOut" 
              data-elementdelay="0.1" 
              data-endelementdelay="0.1" 
              data-endspeed="300" 
              data-scrolloffset="0"
              style="z-index: 8;"><a href="#." class="btn">SHOP NOW</a> </div>
        </li>
        {% endfor %}
        

      </ul>
    </div>
  </div>
</section>

  
  <!-- Content -->
  <div id="content"> 
    
    <!-- New Arrival -->
    <section class="padding-top-100 padding-bottom-100">
      <div class="container"> 
        
        <!-- Main Heading -->
        <div class="heading text-center">
          <h4>new arrival</h4>
          <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec faucibus maximus vehicula. 
          Sed feugiat, tellus vel tristique posuere, diam</span> </div>
      </div>
      
      <!-- New Arrival -->
      <div class="arrival-block single-img-demos"> 
        {% for v in toplist %}
        <div class="item"> 
          <!-- Images --> 
          <img class="img-1" src="{{ v.get_main_img }}" alt=""> 
          <!-- Overlay  -->
          <div class="overlay"> 
            <!-- Price --> 
            <span class="price"><small>$</small>{{ v.price }}</span>
            <div class="position-center-center"> <a href="#" data-lighter><i class="icon-magnifier"></i></a> </div>
          </div>
          <!-- Item Name -->
          <div class="item-name"> <a href="#">{{ v.title }}</a>
            <p>Lorem ipsum dolor sit amet</p>
          </div>
        </div>
        {% endfor %}
      </div>
    </section>
    
    <!-- Popular Products -->
    <section class="padding-top-50 padding-bottom-150">
      <div class="container"> 
        
        <!-- Main Heading -->
        <div class="heading text-center">
          <h4>popular products</h4>
          <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec faucibus maximus vehicula. 
          Sed feugiat, tellus vel tristique posuere, diam</span> </div>

        <!-- Popular Item Slide -->
        <div class="papular-block block-slide single-img-demos"> 
          
          <!-- Item -->
          <div class="item"> 
            <!-- Item img -->
            <div class="item-img"> <img class="img-1" src="{% static 'images/product-1.jpg' %}" alt="" > 
              <!-- Overlay -->
              <div class="overlay">
                <div class="position-center-center">
                  <div class="inn">
                    <a href="images/product-1.jpg" data-lighter>
                      <i class="icon-magnifier"></i>
                    </a> 
                    <a href="#."><i class="icon-basket"></i></a> 
                    <a href="#." ><i class="icon-heart"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <!-- Item Name -->
            <div class="item-name"> <a href="#.">stone cup</a>
              <p>Lorem ipsum dolor sit amet</p>
            </div>
            <!-- Price --> 
            <span class="price"><small>$</small>299</span> 
          </div>
          
        </div>
      </div>
    </section>
    
    <!-- Knowledge Share -->
    <section class="light-gray-bg padding-top-150 padding-bottom-150">
      <div class="container"> 
        
        <!-- Main Heading -->
        <div class="heading text-center">
          <h4>knowledge share</h4>
          <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec faucibus maximus vehicula. 
          Sed feugiat, tellus vel tristique posuere, diam</span> </div>
        <div class="knowledge-share">
          <ul class="row">
            <!-- for p in posts -->
            <!-- Post 1 -->
            <li class="col-md-6">
              <div class="date"> <span>p.datetime</span> <span class="huge">p.datetime</span> </div>
              <a href="#.">p.title</a>
              <p>p.text | truncate</p>
              <span>By <strong>p.author</strong></span> 
            </li>
           <!-- endfor -->
          </ul>
        </div>
      </div>
    </section>
    
    <!-- Testimonial -->
    
    <section class="testimonial padding-top-100">
      <div class="container">
        <div class="row">
          <div class="col-sm-6"> 
            
            <!-- SLide -->
            <div class="single-slide"> 
              <!-- Slide -->
              <div class="testi-in"> <i class="fa fa-quote-left"></i>
                <p>Phasellus lacinia fermentum bibendum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed ullamcorper sapien lacus, eu posuere odio luctus non. Nulla lacinia, eros vel fermentum consectetur, risus p</p>
                <h5>john smith</h5>
              </div>
            </div>
          </div>
          
          <!-- Img -->
          <div class="col-sm-6"> <img class="img-responsive" src="{% static 'images/testi-avatar.jpg' %}" alt=""> </div>
        </div>
      </div>
    </section>

    <!-- About -->
    <section class="small-about padding-top-150 padding-bottom-150">
      <div class="container"> 
        
        <!-- Main Heading -->
        <div class="heading text-center">
          <h4>about PAVSHOP</h4>
          <p>Phasellus lacinia fermentum bibendum. Interdum et malesuada fames ac ante ipsumien lacus, eu posuere odio luctus non. Nulla lacinia,
            eros vel fermentum consectetur, risus purus tempc, et iaculis odio dolor in ex. </p>
        </div>
        
        <!-- Social Icons -->
        <ul class="social_icons">
          <li><a href="#."><i class="icon-social-facebook"></i></a></li>
          <li><a href="#."><i class="icon-social-twitter"></i></a></li>
          <li><a href="#."><i class="icon-social-tumblr"></i></a></li>
          <li><a href="#."><i class="icon-social-youtube"></i></a></li>
          <li><a href="#."><i class="icon-social-dribbble"></i></a></li>
        </ul>
      </div>
    </section>
    

{% endblock %}