
{% extends 'core/base.html' %}
{% load static %}
{% load i18n %}

{% block content %}


  <!--======= SUB BANNER =========-->
  <section class="sub-bnr" data-stellar-background-ratio="0.5">
    <div class="position-center-center">
      <div class="container">
        <h4></h4>
        <p></p>
      </div>
    </div>
  </section>
  
  <!-- Content -->
  <div id="content"> 
    
    <!-- Products -->
    <section class="shop-page padding-top-100 padding-bottom-100">
      <div class="container">
        <div class="row"> 
          
          <!-- Item Content -->
          <div class="col-sm-9">
            
            <!-- Item Slide -->
            <div class="papular-block row single-img-demos"> 
              
              {% for var in variants %}
              <!-- Item -->
              <div class="col-md-4">
                <div class="item"> 
                  <!-- Sale Tags -->
                  <div class="on-sale"> 10% <span>OFF</span> </div>
                  <!-- Item img -->
                  <div class="item-img"> <img class="img-1" src="{{ var.get_main_img }}" alt="" >
                    <!-- Overlay -->
                    <div class="overlay">
                      <div class="position-center-center">
                        <div class="inn">
                          <a href="{{ var.get_main_img }}" data-lighter>
                            <i class="icon-magnifier"></i></a>
                          <button data-product={{ var.id }} data-action="add_to_cart" class='update_cart' >
                            <i class="icon-basket"></i>
                          </button> 
                          <a href="#." ><i class="icon-heart"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Item Name {{ var.slug.get_absolute_url }} -->
                  <div class="item-name"> <a href="{% url 'product:product' var.slug %}">{{ var.title }}</a>
                    <p>{{ var.product.description }}</p>
                  </div>
                  <!-- Price --> 
                  <span class="price"><small>$</small>{{ var.price }}</span> \
                </div>
              </div>
              {% endfor %}

            </div>
            
            <!-- Pagination -->
            {% if page_obj.has_other_page %}
            <ul class="pagination in-center">
              {% if page_obj.has_previous %}
              <li><a href="?page={{ page_obj.previous_number }}"><i class="fa fa-angle-left"></i></a></li>
              {% endif %}
              {% for pag in paginator.page_range %}
                {% if page_obj.number == pag %}
                  <li class="active">{{ pag }}</li>
                {% elif pag >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
              <li><a href="?page={{ pag }}">{{ pag }}</a></li>
              {% endif %}
              {% endfor %}
              {% if page.obj.has_next %}
              <li><a href="?page={{ page_obj.next_number }}"><i class="fa fa-angle-right"></i></a></li>
              {% endif %}
            </ul>
            {% endif %}
          </div>
          
          <!-- Shop SideBar -->
          <div class="col-sm-3">
            <div class="shop-sidebar"> 
              
              <!-- Category -->
              <h5 class="shop-tittle margin-bottom-30">category</h5>
              <ul class="shop-cate categories">
                {% for cat in categories %}
                <!-- <li><input class="category_checkbox" type="checkbox">{{ cat.title }}</li> -->
                <li><input class="category_checkbox"" value={{cat.title}} type="checkbox">
                  {{ cat.title }}</li>
                {% endfor %}
              </ul>
              
              <!-- COLOUR -->
              <h5 class="shop-tittle margin-top-60 margin-bottom-30">FILTER BY COLORS</h5>
              <ul class="colors">
              {% for col in colours %}
                <li><input value={{col.title}} type="checkbox">
                  {{ col.title }}</li>
              {% endfor %}
              </ul>
            
              <!-- TAGS -->
              <h5 class="shop-tittle margin-top-60 margin-bottom-30">PAUPLAR TAGS</h5>
              <ul class="shop-tags">
                {% for tag in tags %}
                <li><input type="checkbox"><a href="{% url 'product:product_list' %}?tag={{ tag.title }}">{{ tag.title }}</a></li>
                {% endfor %}
              </ul>
              
              <!-- BRAND -->
              <h5 class="shop-tittle margin-top-60 margin-bottom-30">brands</h5>
              <ul class="shop-cate">
                {% for brand in brands %}
                <li><input type='checkbox'><a href="{% url 'product:product_list' %}?brand={{ brand.title }}">{{ brand.title }}</a></li>
                {% endfor %}
              </ul>
              
              <!-- SIDE BACR BANER -->
              <div class="side-bnr margin-top-50"> <img class="img-responsive" src="{% static 'images/sidebar-bnr.jpg' %}" alt="">
                <div class="position-center-center"> <span class="price"><small></small></span>
                  <div class="bnr-text">look hot with style </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <!-- About -->
    <section class="small-about padding-top-150 padding-bottom-150">
      <div class="container"> 
        
        <!-- Main Heading -->
        <div class="heading text-center">
          <h4>about PAVSHOP</h4>
          <p>Phasellus lacinia fermentum bibendum. Interdum et malesuada fames ac ante ipsumien lacus, eu posuere odio luctus non. Nulla lacinia,
            eros vel fermentum consectetur, risus purus tempc, et iaculis odio dolor in ex. </p>
        </div>
        
        <!-- Social Icons -->
        <ul class="social_icons">
          <li><a href="#."><i class="icon-social-facebook"></i></a></li>
          <li><a href="#."><i class="icon-social-twitter"></i></a></li>
          <li><a href="#."><i class="icon-social-tumblr"></i></a></li>
          <li><a href="#."><i class="icon-social-youtube"></i></a></li>
          <li><a href="#."><i class="icon-social-dribbble"></i></a></li>
        </ul>
      </div>
    </section>
    
    

{% endblock %}

