{% extends 'core/base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
  

  
    <!-- Content -->
    <div id="content"> 

      <!--======= PAGES INNER =========-->
      <section class="chart-page padding-top-100 padding-bottom-100">
        <div class="container"> 

          <!--======= PRODUCT DESCRIPTION =========-->
          <div class="item-decribe"> 
            <!-- Nav tabs -->
            <ul class="nav nav-tabs animate fadeInUp" data-wow-delay="0.4s" role="tablist">
              <li role="presentation" class="active"><a href="#descr" role="tab" data-toggle="tab">{% trans 'SHOPPING CART' %}</a></li>
              <li role="presentation"><a href="#wishlist" role="tab" data-toggle="tab">{% trans 'WISHLIST' %}</a></li>
              <li role="presentation"><a href="#review" role="tab" data-toggle="tab">{% trans 'MY REVIEWS' %}</a></li>
              <li role="presentation"><a href="#posts" role="tab" data-toggle="tab">{% trans 'MY POSTS' %}</a></li>
            </ul>
            
            <!-- Tab panes -->
            <div class="tab-content animate fadeInUp" data-wow-delay="0.4s"> 
              <!-- SHOPPING CART -->
              <div role="tabpanel" class="tab-pane fade in active" id="descr">
                <div class="shopping-cart"> 
            
                  <!-- SHOPPING INFORMATION -->
                  <div class="cart-head">
                    <ul class="row">
                      <!-- PRODUCTS -->
                      <li class="col-sm-2 text-left">
                        <h6>{% trans 'PRODUCTS' %}</h6>
                      </li>
                      <!-- NAME -->
                      <li class="col-sm-4 text-left">
                        <h6>NAME</h6>
                      </li>
                      <!-- PRICE -->
                      <li class="col-sm-2">
                        <h6>PRICE</h6>
                      </li>
                      <!-- QTY -->
                      <li class="col-sm-1">
                        <h6>QUANTITY</h6>
                      </li>
                      
                      <!-- TOTAL PRICE -->
                      <li class="col-sm-2">
                        <h6>TOTAL</h6>
                      </li>
                      <li class="col-sm-1"> </li>
                    </ul>
                  </div>
                  
                  {% for sc in shopping_cart %}
                  <!-- Cart Details -->
                    <ul class="row cart-details">
                      <li class="col-sm-6">
                        <div class="media"> 
                          <!-- Media Image -->
                          <div class="media-left media-middle"> <a href="{% url 'product:product' sc.slug %}" class="item-img"> <img class="media-object" src="{% static 'images/cart-img-3.jpg' %}" alt=""> </a> </div>
                          
                          <!-- Item Name -->
                          <div class="media-body">
                            <div class="position-center-center">
                              <h5>{{ sc.title }}</h5>
                              <p>{{ sc.get_product}}</p>
                            </div>
                          </div>
                        </div>
                      </li>
                      
                      <!-- PRICE -->
                      <li class="col-sm-2">
                        <div class="position-center-center"> <span class="price"><small>$</small>{{ sc.price }}</span> </div>
                      </li>
                      
                      <!-- QTY -->
                      <li class="col-sm-1">
                        <div class="position-center-center">
                          <div class="quinty"> 
                            <!-- QTY -->
                            <select class="selectpicker">
                              <option>1</option>
                            </select>
                          </div>
                        </div>
                      </li>
                      
                      <!-- TOTAL PRICE -->
                      <li class="col-sm-2">
                        <div class="position-center-center"> <span class="price"><small>$</small>{{ sc.total.price }}</span> </div>
                      </li>
                      
                      <!-- REMOVE -->
                      <li class="col-sm-1">
                        <div class="position-center-center"> <a href=""><i class="icon-close"></i></a> </div>
                      </li>
                    </ul>
                  {%endfor%}
                  </div>
              </div>
              
              <!-- WISHLIST -->
              <div role="tabpanel" class="tab-pane fade" id="wishlist">
                {% for wish in user_wishlist %}

                {% endfor %}
                <h6></h6>
                
                <!-- REVIEW PEOPLE 1 -->
                <div class="media">
                  <div class="media-left"> 
                    <!--  Image -->
                    <div class="avatar"> <a href="#"> <img class="media-object" src="images/avatar-1.jpg" alt=""> </a> </div>
                  </div>
                  <!--  Details -->
                  <div class="media-body">
                    <p class="font-playfair">“Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                      labore et dolore magna aliqua.”</p>
                    <h6>TYRION LANNISTER <span class="pull-right">MAY 10, 2016</span> </h6>
                  </div>
                </div>
              </div>
                
              <!-- MY REVIEWS -->
              <div role="tabpanel" class="tab-pane fade" id="review"> 
                <div class="media">
                  <div class="media-left"> 
                    <!--  Image -->
                    <div class="avatar"> <img class="media-object" src="{{ r.avatar }}" alt=""> </div>
                  </div>
                  <!--  Details -->
                  {% for review in user_reviews %}
                  <div class="media-body">
                    <a href="{% url 'product:product' review.product.slug %}"><h6>{{ review.product.title }}<span class="pull-right">{{ review.date }}</span> </h6></a>
                    <p class="font-playfair">{{ review.text }}</p>
                  </div>
                  {% endfor %}
                </div>
              </div>
              
              <!-- MY POSTS -->
              <div role="tabpanel" class="tab-pane fade" id="posts"> 
                {% for post in user_posts %}
                {% endfor %}
              </div>
            </div>
          </div>

        <!-- Payments Steps -->

          </div>
          </section>
          
          <!-- About -->
          <section class="small-about padding-top-150 padding-bottom-150">
            <div class="container"> 
              
              <!-- Main Heading -->
              <div class="heading text-center">
                <h4>about PAVSHOP</h4>
                <p>Phasellus lacinia fermentum bibendum. Interdum et malesuada fames ac ante ipsumien lacus, eu posuere odio luctus non. Nulla lacinia,
                  eros vel fermentum consectetur, risus purus tempc, et iaculis odio dolor in ex. </p>
              </div>
              
              <!-- Social Icons -->
              <ul class="social_icons">
                <li><a href="#."><i class="icon-social-facebook"></i></a></li>
                <li><a href="#."><i class="icon-social-twitter"></i></a></li>
                <li><a href="#."><i class="icon-social-tumblr"></i></a></li>
                <li><a href="#."><i class="icon-social-youtube"></i></a></li>
                <li><a href="#."><i class="icon-social-dribbble"></i></a></li>
              </ul>
            </div>
          </section>
    
{% endblock %}