{% extends 'core/base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
  

  
    <!-- Content -->
    <div id="content"> 
    <!-- WISHLIST -->
    <div role="tabpanel" class="tab-pane fade" id="wishlistdetails">
      <p>wishlist</p>
    </div>
      <!--======= PAGES INNER =========-->
      <section class="chart-page padding-top-100 padding-bottom-100">
        <div class="container"> 

          <!--======= PRODUCT DESCRIPTION =========-->
          <div class="item-decribe"> 
            <!-- Nav tabs -->
            <ul class="nav nav-tabs animate fadeInUp" data-wow-delay="0.4s" role="tablist">
              <li role="presentation" class="active"><a href="#shopcart" role="tab" data-toggle="tab">{% trans 'SHOPPING CART' %}</a></li>
              <li role="presentation"><a href="#orders" role="tab" data-toggle="tab">{% trans 'MY ORDERS' %}</a></li>
              <li role="presentation"><a href="#wishlist" role="tab" data-toggle="tab">{% trans 'WISHLIST' %}</a></li>
            </ul>
            
            <!-- Tab panes -->
            <div class="tab-content animate fadeInUp" data-wow-delay="0.4s"> 
              <!-- SHOPPING CART -->
              <div role="tabpanel" class="tab-pane fade in active" id="shopcart">
                <div class="shopping-cart"> 
            
                  <!-- SHOPPING INFORMATION -->
                  <div class="cart-head">
                    <ul class="row">
                      <!-- PRODUCTS -->
                      <li class="col-sm-2 text-left"><h6>{% trans 'PRODUCTS' %}</h6></li>
                      <!-- NAME -->
                      <li class="col-sm-4 text-left"><h6>NAME</h6></li>
                      <!-- PRICE -->
                      <li class="col-sm-2"><h6>PRICE</h6></li>
                      <!-- ADD to WISHLIST -->
                      <li class="col-sm-2"><h6>ADD</h6></li>
                      <li class="col-sm-1"> </li>
                    </ul>
                  </div>

                </div>
              </div>

              <!--  ORDERS  -->
              <div role="tabpanel" class="tab-pane fade" id="orders">
              </div>
              
              <!-- WISHLIST -->
              <div role="tabpanel" class="tab-pane fade" id="wishlist">
                <p>wishlist</p>
              </div>

              

            </div>
          </div>

        <!-- Payments Steps -->

          </div>
          </section>
          
          <!-- About -->
          <section class="small-about padding-top-150 padding-bottom-150">
            <div class="container"> 
              
              <!-- Main Heading -->
              <div class="heading text-center">
                <h4>about PAVSHOP</h4>
                <p>Phasellus lacinia fermentum bibendum. Interdum et malesuada fames ac ante ipsumien lacus, eu posuere odio luctus non. Nulla lacinia,
                  eros vel fermentum consectetur, risus purus tempc, et iaculis odio dolor in ex. </p>
              </div>
              
              <!-- Social Icons -->
              <ul class="social_icons">
                <li><a href="#."><i class="icon-social-facebook"></i></a></li>
                <li><a href="#."><i class="icon-social-twitter"></i></a></li>
                <li><a href="#."><i class="icon-social-tumblr"></i></a></li>
                <li><a href="#."><i class="icon-social-youtube"></i></a></li>
                <li><a href="#."><i class="icon-social-dribbble"></i></a></li>
              </ul>
            </div>
          </section>
    
{% endblock %}
{% block script %}
<script src="{% static 'js/account.js' %}"></script>
{% endblock %}