{% extends "core/base.html" %}

{% block title %}Enter new password{% endblock %}

{% block content %}

{% if validlink %}

<h1>Set a new password!</h1>
<form method="POST" class="theme-form">
  {% csrf_token %}
  <div class="form-row">
      <div class="col-md-12">
          {{form}}
      </div>
      <button type="submit" class="btn btn-solid">Submit</button>
  </div>
</form>

{% else %}

<p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>

{% endif %}
{% endblock %}