 
{% extends 'core/base.html' %}
{% load static %}
{% load i18n %}

{% block css %}
<link rel="stylesheet" href=""
{% endblock css %}

{% block content %}
  
  <!--======= SUB BANNER ========= -->
  <section class="sub-bnr" data-stellar-background-ratio="0.5">
    <div class="position-center-center">
      <div class="container">
        <h4></h4>
      </div>
    </div>
  </section>
  
  <!-- Content -->
  <div id="content"> 
    
    <!--======= PAGES INNER =========-->
    <section class="chart-page padding-top-100 padding-bottom-100">
      <div class="container"> 
        
        <!-- Payments Steps -->
        <div class="shopping-cart"> 
          
 <!-- SHOPPING INFORMATION -->
          <div class="cart-ship-info register">
            <div class="row"> 
              
              <!-- ESTIMATE SHIPPING & TAX -->
              <div class="col-sm-6">
                <h6>REGISTER</h6>
                <form method="POST" action="">
                    {% csrf_token %}
                  <ul class="row">
                    
                    <li class="col-md-6">
                      <label>{{form.first_name.label }}
                        {{form.first_name }}
                       
                      </label>
                    </li>

                    <li class="col-md-6">
                      <label> {{form.last_name.label }}
                        {{form.last_name }}
                      </label>
                    </li>
                    <li class="col-md-6">
                      <label>{{form.email.label }}
                        {{form.email }}
                      </label>
                    </li>
                    <li class="col-md-6">
                      <label> {{form.phone.label }}
                        {{form.phone }}
                      </label>
                    </li>
                    <li class="col-md-6">
                      <label> {{form.password1.label }}
                        {{form.password1 }}
                      </label>
                    </li>
                    
                    <li class="col-md-6">
                      <label> {{form.password2.label }}
                        {{form.password2 }}
                      </label>
                    </li>
                    <li class="col-md-6">
                      <button type="submit" class="btn">REGISTER NOW</button>
                    </li>
                  </ul>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <!-- About -->
    <section class="small-about padding-top-150 padding-bottom-150">
      <div class="container"> 
        
        <!-- Main Heading -->
        <div class="heading text-center">
          <h4>about PAVSHOP</h4>
          <p>Phasellus lacinia fermentum bibendum. Interdum et malesuada fames ac ante ipsumien lacus, eu posuere odio luctus non. Nulla lacinia,
            eros vel fermentum consectetur, risus purus tempc, et iaculis odio dolor in ex. </p>
        </div>
        
        <!-- Social Icons -->
        <ul class="social_icons">
          <li><a href="#."><i class="icon-social-facebook"></i></a></li>
          <li><a href="#."><i class="icon-social-twitter"></i></a></li>
          <li><a href="#."><i class="icon-social-tumblr"></i></a></li>
          <li><a href="#."><i class="icon-social-youtube"></i></a></li>
          <li><a href="#."><i class="icon-social-dribbble"></i></a></li>
        </ul>
      </div>
    </section>
    
{% endblock %}